<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>de.andreas-mausch.divoom-ditoo-pro-controller</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Sends display and settings commands to a Divoom Ditoo Pro speaker over Bluetooth SPP/RFCOMM.</string>
</dict>
</plist>
